@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');




@font-face {
  font-family: 'AtypDisplay';
  src: url('../../fonts/AtypDisplayTRIAL-Semibold-BF65727125c6fc9.otf') format('truetype');
  font-weight: normal; /* Adjust based on the font's weight */
  font-style: normal; /* Adjust based on the font's style */
}

@font-face {
  font-family: 'AtypDisplayR';
  src: url('../../fonts/AtypDisplayTRIAL-Regular-BF65727125d566e.otf') format('truetype');
  font-weight: normal; /* Adjust based on the font's weight */
  font-style: normal; /* Adjust based on the font's style */
}



@layer components {
  .primary-btn {
    @apply inline-block bg-[#F58220] text-white font-semibold rounded-lg hover:bg-secondary duration-200 shadow-[0px_10px_8px_-7px_#ffd978] hover:shadow-[0px_10px_8px_-7px_#69a79c] py-2 px-6;
  }
}

@layer utilities {
  .drop-shadow {
    filter: drop-shadow(6px 8px 10px rgba(0, 0, 0, 0.5));
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}



